# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment files
.env
.venv/
venv/
ENV/

# VSCode settings
.vscode/

# macOS files
.DS_Store

# Python egg metadata
*.egg-info/

dist/
build/
.eggs/

# Streamlit cache and logs
.streamlit/config.toml
.streamlit/secrets.toml

# Excel exports
*.xlsx

# Logs and temp
*.log
*.tmp

# pyproject environments
.mypy_cache/
.pytest_cache/
